<html>
    <head>
        <link rel="stylesheet" href="books.css">
    </head>

    <body id="purpleBackground">
        <h1>
            <img src="logo.png" width="200" height="100"></h1><br>
            Welcome to Books
            <table id="t01">
                <tr>
                    <th>Title</th>
                </tr>
                <% for(let i=0; i<books.length;i++) { %>
                    <tr>
                        <td><%= books[i].title %></td>
                    </tr>
                <%} %>
            </table>
            <br><br>
            <a href="/getaddbook">Add new book</a><br>
            <a href="/">Home</a>
        </h1>
    </body>
</html>