table {width: 100%;}
table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee
}
table#t01 tr:nth-child(odd) {
    background-color: #fff
}
table#t01 th {
    background-color: rgb(94, 94, 94);
    color: white;
} 

.container {
    width: 500px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}

#redText {
    color: red;
}

#purpleBackground {
    background-color: rgb(253, 218, 253);
}