<html>
    <head>
        <link rel="stylesheet" href="books.css">
    </head>

    <body id="purpleBackground">
        <h1>
            <img src="logo.png" width="200" height="100"></h1><br>
            Welcome to Books

            <h2>
                Enter Book to Delete: 
            </h2>
            <div class="container">
                <form action="deletebytopicdata" method="POST">
                    <label>Topic</label>
                    <input type="text" name="topic" /> <br>
                    <button>Submit</button>
                </form>
            </div>
                
            <br><br>
            <a href="/">Home</a>
        </h1>
    </body>
</html>