<html>
    <head>
        <link rel="stylesheet" href="books.css">
    </head>

    <body id="purpleBackground">
        <h1>
            <img src="logo.png" width="200" height="100"></h1><br>
            Welcome to Books

            <h2>
                Enter new Book: 
            </h2>
            <div class="container">
                <form action="updatebytitledata" method="POST">
                    <lable><b>Title of Book to Update</b></lable>
                    <input type="text" name="title" /> <br><br>
                    <label>New Author</label>
                    <input type="text" name="author" /> <br>
                    <label>New Topic</label>
                    <input type="text" name="topic" /> <br>
                    <label>New Date of Publication</label> 
                    <input type="date" name="published"/> <br>
                    <label>New Summary</label> 
                    <input type="text" name="summary"/> <br>
                    <button>Submit</button>
                </form>
            </div>
                
            <br><br>
            <a href="/">Home</a>
        </h1>
    </body>
</html>